{{#if user}}
    <div class="container">
        <p>Email: <span style="color:red">{{{user.email}}}</span></p>
    </div>
    <div class="container">
        <p>Full Name: <span style="color:red">{{{user.fullName}}}</span></p>
    </div>
{{/if}}